@tailwind base;
@tailwind components;
@tailwind utilities;


a {
  color: inherit;
  text-decoration: none;
}
body{
  min-height: 100vh;
}
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body,
body[data-theme="light"] {
  --color-text-primary: #DC143C;
  --color-text-secondary: #0B0C10;
  --color-bg-primary: #E3E2DF;
  --color-bg-toggle: #1e90ff;
}

body[data-theme="dark"] {

  --color-text-primary: #66FCF1;
  --color-text-secondary: #C5C6C7;
  --color-bg-primary: #181818;
  --color-bg-secondary: #212121;

/*
  --color-text-primary: #e3e3e3;
  --color-text-secondary: #ff6b00;
  --color-bg-primary: #15232d;
  --color-bg-toggle: #a9a9a9;
*/
}
body {
  background: var(--color-bg-primary);
  color: var(--color-text-secondary);
  font-family: sans-serif;
  transition: background 0.25s ease-in-out;
}
.nav-transition{
  transition: background 0.25s ease-in-out;

}
h1 {
  color: var(--color-text-primary);
}
body[data-theme="dark"] a:hover{
  /*color: var(--color-text-primary);*/
  color: var(--color-text-primary);
}
body[data-theme="light"] a:hover{
  color: var(--color-text-primary);

}
/*COPY PASTED BELOW THIS POINT*/
